@import "../../../_variables";

.search-results-quantity-block {
  position: relative;
  width: $elementsWidth;
  height: 25px;
  margin-top: 40px;
  padding: 5px;
  &_design {
    border-bottom: $border;
  }
}
