$applicationColor: #FFFFFF;
$applicationFont: 'Montserrat', sans-serif;
$applicationFontColor: rgba(54, 54, 54, 1);
$applicationFontSize: 16px;
$elementsWidth: 100%;
$border: 1px solid rgba(234, 234, 234, 1);
$box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.05);
$background-color: rgba(255, 255, 255, 1);
$gray-background: rgba(196, 196, 196, 1);
$box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.05);
$border-radius: 5px;
