@import "variables";

body {
  font-family: $applicationFont;
  background-color: $applicationColor;
  color: $applicationFontColor;
}

.mat-typography {
  width: 100%;
  height: 1408px;
  align-items: center;
  margin: 0 auto;
}
